<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= __('appname') %></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="/admin/assets/style.css" />-->
    <style>
      
        .login, .register, .forgtpwd{
            padding-top: 100px;
        }
        
        .login.form-container, .register.form-container, .account.form-container, .forgtpwd.form-container{
            width: 400px;
            margin: auto;
        }
        
        .postlist{padding: 10px 50px;
          max-width: 1120px;
          margin: auto;
        }
        
        .searchForm{text-align: center;}
        
        .listing h3{text-transform: uppercase;    letter-spacing: 10px;
    font-size: 20px;}
    .listing p{font-size: 15px;}
        
        .create.form-container {
            width: 600px;
            margin: auto;
        }
        
        .general {
            padding: 20px;
        }
        
        .general form{ width: 300px;}
        .flash-message {
            margin-top: 20px;
        }

    .singlepost{-webkit-box-shadow: 4px 7px 51px -5px rgba(204,204,204,1);
        -moz-box-shadow: 4px 7px 51px -5px rgba(204,204,204,1);
        box-shadow: 4px 7px 51px -5px rgba(204,204,204,1);    padding: 10px;
        margin-bottom: 30px;}
    </style>
</head>
<body>